html {
  background: #000000;
  color: #fff;
}


body {
  background: #000000;
  color: #fff;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 {
  font-weight: 900;
}

header {
  padding-top: 50px;
}

.showinfo-details {
    margin: auto;
    padding: 20px
}
