html {
  background: #000000;
  color: #fff;
}


body {
  background: #000000;
  color: #fff;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 {
  font-weight: 900;
}

header {
  padding-top: 50px;
}

.intro {
  background: #007AFF!important;
  height: 50px;
}

.showinfo-details {
    padding: 20px;
}

p.description {
    text-align: justify;
    padding-top: 30px;
}

#showart {
  border: 1px solid white;
}

#suggestions {
  clear: both;
  padding-top: 20px;
}

col-md {
  padding: 20px;
}

.row {
   display: inline-block;
   float: left;
}
